body{

    background: url(../Images/loginbg.jpg)  center no-repeat  fixed;
    background-size: cover;
    -webkit-background-size: cover;
}
.form-horizontal{
    margin: 10% auto;
    background: rgba(204, 204, 204, 0.3);
    padding-top: 1rem;
    padding-bottom: 10px;
    border-radius: 15px;
    text-align: center;
}
.container .title{
    color: white;
}
.form-title{
    /*background: rgba(35, 90, 113, 0);*/
    /*!*border-radius: 15px;*!*/
    /*border-top-left-radius:15px;*/
    /*border-top-right-radius:15px;*/
    padding: 10px;
    color:#EFAC50;
    font-weight:600;
}
.form-horizontal .form-group{
    padding: 0 40px;
    margin: 2em 0 25px 0;
    position: relative;
}
.form-horizontal .fa-question-circle{
    display: inline-block;
    position: absolute;
    top: 12px;
    right: 60px;
    font-size: 20px;
    color: #808080;
    transition: all 0.5s ease 0s;
}
.form-horizontal label{
    color: #d9d9d9;
}
.checkbox{
    text-align: left;
    padding: 0 40px;
}
